<% include header %>
      <% if (!requireAuth || user) { %>
      <p>
        <a href="/form" class="btn btn-primary">
          <i class="icon-upload icon-white"></i>
          <span><strong><%= __("Form") %></strong></span>
        </a>

        <% if (user && user.group == 'admin') { %>
        <a href="/admin" class="btn btn-primary">
          <i class="icon-wrench icon-white"></i>
          <span><strong><%= __("Administration") %></strong></span>
        </a>
        <% } %>
      </p>
      <% } else { %>
        <div class="alert"><%= __("Access to the service requires authentication.") %> <%= __("Please log in.") %></div>
      <% } %>
      <p class="well">
        <%- __("ezPAARSE presentation") %>
      </p>
<% include footer %>