<% include header %>
      <% if (!requireAuth || user) { %>
      <p>
        <a href="/form" class="btn btn-primary">
          <i class="icon-upload icon-white"></i>
          <span><strong><%= __("home+Formulaire") %></strong></span>
        </a>

        <% if (user && user.group == 'admin') { %>
        <a href="/admin" class="btn btn-primary">
          <i class="icon-wrench icon-white"></i>
          <span><strong><%= __("home+Administration") %></strong></span>
        </a>
        <% } %>
      </p>
      <% } else { %>
        <div class="alert"><%= __("home+L'accès_au_service_nécessite_une_authentification.") %> <%= __("home+Veuillez_vous_connecter.") %></div>
      <% } %>
      <p class="well">
        <%- __("home+presentation_ezPAARSE") %>
      </p>
<% include footer %>