<% include header %>
  <form id="register-form" class="form-inline" method="POST" action="/register">
    <fieldset>
      <legend><%= __("Creating administrator account") %></legend>
      <p><%= __("No administrator account is currently configured.") %>
        <br/><%= __("Create one by using the form below.") %></p>
      <input type="text" id="username" name="username" placeholder="<%= __("Login") %>">
      <input type="password" id="password" name="password" placeholder="<%= __("Password") %>">
      <button type="submit" id="submit" class="btn"><%= __("Create") %></button>
      <img src="/img/loader.gif" class="loader ninja" width="32" />
      <img src="/img/success-big.png" class="success ninja" width="32" />
      <div id="register-form-error" class="ninja" style="color: red"></div>
      <div class="success ninja" style="color: #0046AF"><%= __("The account has been created.") %> <%= __("You are being redirected...") %></div>
    </fieldset>
  </form>
<% include footer %>