<% include header %>
  <form id="register-form" class="form-inline" method="POST" action="/register">
    <fieldset>
      <legend><%= __("register+Création_du_compte_administrateur") %></legend>
      <p><%= __("register+Aucun_compte_administrateur_n'est_actuellement_configuré.") %>
        <br/><%= __("register+Créez-en_un_en_utilisant_le_formulaire_ci-dessous.") %></p>
      <input type="text" id="username" name="username" placeholder="<%= __("register+Identifiant") %>">
      <input type="password" id="password" name="password" placeholder="<%= __("register+Mot_de_passe") %>">
      <button type="submit" id="submit" class="btn"><%= __("register+Créer") %></button>
      <img src="/img/loader.gif" class="loader ninja" width="32" />
      <img src="/img/success-big.png" class="success ninja" width="32" />
      <div id="register-form-error" class="ninja" style="color: red"></div>
      <div class="success ninja" style="color: #0046AF"><%= __("register+Le_compte_a_été_créé.") %> <%= __("Vous_allez_être_redirigé...") %></div>
    </fieldset>
  </form>
<% include footer %>