<% include header %>

<% if (usage.stats) { %>
  <h1><%= __("usage+Utilisation_d'ezPAARSE") %></h1>
  <table class="table table-bordered table-hover">
    <% var elements = Object.keys(usage.general).sort();  %>
    <tr><th colspan="2"><%= 'general'[0].toUpperCase() + 'general'.substring(1) %></th></tr>
    <% elements.forEach(function(e) { %>
    <tr>
      <td><%= e %></td>
      <td><%= usage.general[e] %></td>
    </tr>
    <% }); %>
    <% var elements = Object.keys(usage.stats).sort();  %>
    <tr><th colspan="2"><%= 'stats'[0].toUpperCase() + 'stats'.substring(1) %></th></tr>
    <% elements.forEach(function(e) { %>
    <tr>
      <td><%= e %></td>
      <td><%= usage.stats[e] %></td>
    </tr>
    <% }); %>
  </table>
<% } else { %>
  <p><%= __("usage+Le_rapport_que_vous_recherchez_n'existe_pas.") %></p>
<% } %>

<% include footer %>