        <div id="content-form">
          <div class="row-fluid">
              <div class="accordion span12" id="pane-file-select">
                <div class="accordion-group">
                  <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#pane-file-select" href="#collapseFive">
                      <i id="iFive" class="icon-chevron-right"></i> <%= __("ws-form+Requête_traduite_en_cURL") %>
                    </a>
                  </div>
                  <div id="collapseFive" class="accordion-body collapse" toggle-chevron="#iFive">
                    <div class="accordion-inner">
                      <% if (user && user.group == 'admin') { %>
                      <div class="alert"><strong><%= __("ws-form+Attention") %></strong> : <%= __("ws-form+il_est_déconseillé_d'utiliser_votre_compte_administrateur_dans_vos_scripts_de_traitement_automatique.") %></div>
                      <% } %>
                      <p><%= __("ws-form+Copiez/collez_le_code_suivant_pour_exécuter_la_requête_avec_cURL.") %></p>
                      <p><%= __("ws-form+Modifiez_le_chemin_des_fichiers_s'ils_ne_se_trouvent_pas_dans_le_répertoire_courant.") %>
                      <br/><%- __("ws-form+Vous_devrez_peut-être_ajouter_des_options_telles_que_%s_ou_%s_en_fonction_de_votre_environnement.", '<code>--proxy</code>', '<code>--no-buffer</code>') %></p>
                      <textarea class="code" id="curl-request"></textarea>
                    </div>
                  </div>
                </div>
              </div>
          </div>
          <div class="row-fluid">
            <form id="form" class="form-horizontal span6" enctype="multipart/form-data">
              <div class="accordion" id="pane-file-select">
                <div class="accordion-group ninja">
                  <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#pane-file-select" href="#collapseOne">
                      <i id="iOne" class="icon-chevron-right"> <%= __("ws-form+Traiter_des_fichiers_du_serveur") %></i>
                    </a>
                  </div>
                  <div id="collapseOne" class="accordion-body collapse" toggle-chevron="#iOne">
                    <div id="local-files" class="accordion-inner">

                    </div>
                  </div>
                </div>
                <div class="accordion-group">
                  <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#pane-file-select" href="#collapseTwo">
                      <i id="iTwo" class="icon-chevron-down"></i> <%= __("ws-form+Traiter_vos_fichiers_de_log") %>
                    </a>
                  </div>
                  <div id="collapseTwo" class="accordion-body collapse in" toggle-chevron="#iTwo">
                    <div class="accordion-inner">
                      <div id="classic-inputs">
                        <div class="single-input">
                          <button class="btn btn-danger btn-mini file-remove-button ninja" title="remove"><i class="icon-remove icon-white"></i></button>
                          <input class='file-input' type="file" name="file" multiple/>
                        </div>
                      </div>
                      <div id="dropbox">
                        <%= __("ws-form+Glissez_vos_fichiers_ici") %>
                      </div>
                      <script id="drag-text" type="text/html"><%= __("ws-form+Glissez_vos_fichiers_ici") %></script>
                      <script id="drop-text" type="text/html"><%= __("ws-form+Déposer_les_fichiers") %></script>
                    </div>
                  </div>
                </div>
              </div>
            </form> <!-- form -->
            <div class="accordion form-horizontal span6" id="pane-options">
              <div class="accordion-group"> <!-- Import / export accordion -->
                <div class="accordion-heading">
                  <a class="accordion-toggle" data-toggle="collapse" href="#collapseSix">
                    <i id="iSix" class="icon-chevron-right"></i> <%= __("ws-form+Importer_/_exporter_les_paramètres") %>
                  </a>
                </div>
                <div id="collapseSix" class="accordion-body collapse" toggle-chevron="#iSix">
                  <div id="import-export" class="accordion-inner text-left">
                    <p><%= __("ws-form+Pour_exporter_vos_paramètres_actuels,_cliquez_sur_le_bouton_d'export_et_copiez_le_contenu_de_la_boîte_ci-dessous.") %></p>
                    <p><%= __("ws-form+Pour_importer_des_paramètres_précédememnt_exportés,_collez-les_dans_la_boîte_ci-dessous_et_cliquez_sur_le_bouton_d'import.") %></p>
                    <button id="export-settings" class="btn"><%= __("Exporter") %></button>
                    <button id="import-settings" class="btn"><%= __("Importer") %></button>
                    <textarea id="textarea-settings" class="span12" placeholder="<%= __("ws-form+Les_paramètres_vont_dans_cette_boîte.") %>"></textarea>
                  </div>
                </div>
              </div>
              <div class="accordion-group">
                <div class="accordion-heading">
                  <a class="accordion-toggle" data-toggle="collapse" href="#collapseThree">
                    <i id="iThree" class="icon-chevron-right"></i> <%= __("ws-form+Paramètres") %>
                  </a>
                </div>
                <div id="collapseThree" class="accordion-body collapse in" toggle-chevron="#iThree">
                  <div id="advanced-options" class="accordion-inner">
                    <div class="control-group">
                      <label class="control-label" for="advanced-options-predefined">
                        <%= __("ws-form+Réglages_prédéfinis") %>
                      </label>
                      <div class="controls">
                        <select id="advanced-options-predefined" name="advanced-options-predefined">
                          <option value="" selected></option>
                        </select>
                      </div>
                    </div>
                     <div class="control-group">
                      <label class="control-label" for="input-log-type">
                        <a class="notALink" data-toggle="tooltip" title="<%= __("ws-form+Plateforme_d'origine_des_logs.") %>"><%= __("ws-form+Type_de_log") %> <i class="icon-question-sign"></i></a>
                      </label>
                      <div class="controls">
                        <select id="input-log-type" name="input-log-type">
                          <option value="" selected><%= __("ws-form+Auto") %></option>
                          <option value="ezproxy">EZproxy</option>
                          <option value="apache">Apache</option>
                          <option value="squid">Squid</option>
                        </select>
                      </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label" for="input-log-format">
                        <a class="notALink" data-toggle="tooltip" title="<%= __("ws-form+Format_des_lignes_de_log_(Ex:_'%h_%l_%u_%t_%s_%b').") %> <%= __("ws-form+Pour_plus_d'infos,_consulter_'Formats_de_logs'_dans_la_documentation.") %>"><%= __("ws-form+Format_de_log") %> <i class="icon-question-sign"></i></a>
                      </label>
                      <div class="controls">
                        <textarea id="input-log-format" name="input-log-format" row="1" disabled></textarea>
                      </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label" for="input-result-format">
                        <a class="notALink" data-toggle="tooltip" title="<%= __("ws-form+Format_du_fichier_résultat") %>"><%= __("ws-form+Format_du_résultat") %> <i class="icon-question-sign"></i></a>
                      </label>
                      <div class="controls">
                        <select id="input-result-format" name="input-result-format">
                          <option value="text/csv" selected>CSV</option>
                          <option value="text/tab-separated-values">TSV</option>
                          <option value="application/json">JSON</option>
                        </select>
                      </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label" for="input-traces">
                        <a class="notALink" data-toggle="tooltip" title="<%= __("ws-form+Niveau_de_verbosité_des_traces,_du_moins_verbeux_Error_au_plus_verbeux_Silly.") %>"><%= __("ws-form+Traces_système") %> <i class="icon-question-sign"></i></a>
                      </label>
                      <div class="controls">
                        <select id="input-traces" name="input-traces">
                          <option value="error">Error</option>
                          <option value="warn">Warn</option>
                          <option value="info" selected>Info</option>
                          <option value="verbose">Verbose</option>
                          <option value="silly">Silly</option>
                        </select>
                      </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label" for="input-output-fields">
                        <a class="notALink" data-toggle="tooltip" title="<%= __("ws-form+Champs_(en-têtes)_à_ajouter/enlever_dans_le_fichier_de_sortie.") %>"><%= __("ws-form+Champs_en_sortie") %> <i class="icon-question-sign"></i></a>
                      </label>
                      <div class="controls">
                        <input id="input-output-fields" placeholder="Ex: -host,-login,+datetime" type="text" name="input-output-fields"/>
                      </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label" for="input-request-charset">
                        <a class="notALink" data-toggle="tooltip" title="<%= __("ws-form+Jeu_de_caractères_(charset)_utilisé_dans_les_fichiers_à_traiter.") %>"><%= __("ws-form+Encodage_en_entrée") %> <i class="icon-question-sign"></i></a>
                      </label>
                      <div class="controls">
                        <select id="input-request-charset" name="input-request-charset">
                          <option value="utf-8">UTF-8</option>
                          <option value="iso-8859-1">ISO-8859-1</option>
                        </select>
                      </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label" for="input-response-charset">
                        <a class="notALink" data-toggle="tooltip" title="<%= __("ws-form+Jeu_de_caractères_(charset)_utilisé_pour_les_données_en_sortie.") %>"><%= __("ws-form+Encodage_en_sortie") %> <i class="icon-question-sign"></i></a>
                      </label>
                      <div class="controls">
                        <select id="input-response-charset" name="input-response-charset">
                          <option value="utf-8">UTF-8</option>
                          <option value="iso-8859-1">ISO-8859-1</option>
                        </select>
                      </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label" for="input-date-format">
                        <a class="notALink" data-toggle="tooltip" title="<%= __("ws-form+Format_de_date_utilisé_dans_les_lignes_de_log") %>"><%= __("ws-form+Format_de_date") %> <i class="icon-question-sign"></i></a>
                      </label>
                      <div class="controls">
                        <input type="text" id="input-date-format" name="input-date-format" placeholder="DD/MMM/YYYY:HH:mm:ss Z"/>
                      </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label" for="input-relative-domain">
                        <a class="notALink" data-toggle="tooltip" title="<%= __("ws-form+Domaine_à_utiliser_pour_les_URLs_relatives.") %>"><%= __("ws-form+Domaine_relatif") %> <i class="icon-question-sign"></i></a>
                      </label>
                      <div class="controls">
                        <input type="text" id="input-relative-domain" name="input-relative-domain" placeholder="www.domain.com"/>
                      </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label" for="remember-settings">
                        <%= __("ws-form+Mémoriser_mes_paramètres") %>
                      </label>
                      <div class="controls">
                        <input type="checkbox" id="remember-settings" name="remember-settings">
                      </div>
                    </div>
                    <div class="control-group text-right">
                      <button id="reset-settings" class="btn"><%= __("ws-form+Paramètres_par_défaut") %></button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="accordion-group">
                <div class="accordion-heading">
                  <a class="accordion-toggle" data-toggle="collapse" href="#collapseFour">
                    <i id="iFour" class="icon-chevron-right"></i> <%= __("ws-form+Champ_utilisateurs") %>
                  </a>
                </div>
                <div id="collapseFour" class="accordion-body collapse" toggle-chevron="#iFour">
                  <div id="user-fields" class="accordion-inner">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="nofile-warn" class="alert alert-warning ninja"><%= __("ws-form+Vous_devez_sélectionner_au_moins_un_fichier.") %></div>
          <div id="big-warn" class="alert alert-warning ninja"><%= __("ws-form+Les_fichiers_sélectionnés_sont_volumineux,_le_traitement_peut_être_long.") %></div>
          <div class="text-center">
            <input type="submit" class="btn" value="<%= __("ws-form+Traiter") %>" id="submit" />
          </div>
        </div><!-- form-content -->