        <div id="content-result" class="ninja">
          <div id="process-info" class="texte-center alert alert-info">
            <%= __("ws-result+Vos_logs_sont_en_cours_de_traitement.") %> <%= __("ws-result+Vous_pouvez_déjà_commencer_à_télécharger_le_résultat.") %>
          </div>
          <div id="process-success" class="texte-center alert alert-success ninja">
            <%= __("ws-result+Le_traitement_de_vos_logs_s'est_terminé_avec_succès.") %>
          </div>
          <div class="alert alert-error text-center ninja">
            <%= __("ws-result+Erreur") %> : <span id="error"></span>
          </div>
          <div class="progress progress-striped active">
            <div class="bar" style="width: 0%;">0%</div>
          </div>
          <div id="process-btns" class="text-center">
            <a href="" target="_blank" id="get-btn" class="btn btn-primary btn-large"><%- __("ws-result+Télécharger_le_résultat_en_%s", '<span id="result-format"></span>') %></a>
            <a href="/form" id="cancel-btn" class="btn"><%= __("ws-result+Annuler") %></a>
          </div>
          <div class="row-fluid">
            <div class="span6">
              <div id="submitted-files">
                <fieldset>
                  <legend><%= __("ws-result+Fichiers_traités") %></legend>
                  <ul></ul>
                </fieldset>
              </div>
              <div id="post-trait-comment">
                <fieldset>
                  <legend><%= __("ws-result+Exploitation_des_résultats") %></legend>
                  <ul><a href="<%= __("ws-result+ExcelRenderingFileURL") %>" target="_blank">
                    <%= __("ws-result+Utiliser_un_fichier_de_rendu_Excel") %></a>
                  </ul>
                  <ul><a href="<%= __("ws-result+ExcelRenderingUsageURL") %>" target="_blank">
                    <%= __("ws-result+Aide_sur_l'exploitation_des_résultats_avec_excel") %></a>
                  </ul>
                </fieldset>
              </div>
            </div>
            <div id="report" class="span6">
              <fieldset>
                <legend><%= __("ws-result+État_du_traitement") %></legend>
                <table class="table table-bordered table-hover">
                  <tr><td><%= __("ws-result+Lignes_en_entrée") %></td><td id="nb-lines-input" class="result-value"></td></tr>
                  <tr><td><%= __("ws-result+ECs_générés") %></td><td id="nb-ecs" class="result-value"></td></tr>
                  <tr><td><%= __("ws-result+Plateformes_reconnues") %></td><td id="platforms" class="result-value"></td></tr>
                  <tr><td>PDF</td><td id="mime-PDF" class="result-value"></td></tr>
                  <tr><td>HTML</td><td id="mime-HTML" class="result-value"></td></tr>
                  <tr>
                    <td>
                      <a class="notALink" data-toggle="tooltip" title="<%= __("ws-result+Le_nombre_de_lignes_rejetées_pour_cent_lignes_en_entrée.") %> <%= __("ws-result+Les_lignes_ignorées_(jpg,_js,_css...)_ne_sont_pas_prises_en_compte_lors_de_ce_calcul.") %>"><%= __("ws-result+Taux_de_filtrage") %> <i class="icon-question-sign"></i></a>
                    </td>
                    <td id="rejection-rate" class="result-value"></td></tr>
                  <tr><td><%= __("ws-result+Durée_du_traitement") %></td><td id="job-duration" class="result-value"></td></tr>
                  <tr><td><%= __("ws-result+Vitesse_du_traitement") %></td><td id="process-speed" class="result-value"></td></tr>
                </table>
              </fieldset>
              <fieldset>
                <legend><%= __("ws-result+Lignes_de_log_ignorées") %></legend>
                <table class="table table-bordered table-hover">
                  <tr>
                    <td>
                      <a class="notALink" data-toggle="tooltip" title="<%= __("ws-result+Nombre_de_requêtes_non_pertinentes.") %> <%= __("ws-result+Il_s'agit_principalement_de_téléchargements_d'images,_css_ou_scripts_web_sans_rapport_direct_avec_une_ressource.") %> <%= __("ws-result+Dans_un_log_brut,_ce_chiffre_est_souvent_élevé.") %>"><%= __("ws-result+Lignes_ignorées") %> <i class="icon-question-sign"></i></a>
                    </td>
                    <td id="nb-lines-ignored" class="result-value"></td>
                  </tr>
                  <tr>
                    <td><a class="link-lines-duplicate-ecs" target="_blank" data-toggle="tooltip" title="<%= __("ws-result+Nombre_de_consultations_ignorées_car_détectées_comme_des_double-clics.") %>"><%= __("ws-result+Doublons_filtrés") %> <i class="icon-question-sign"></i></a></td><td id="nb-lines-duplicate-ecs" class="result-value"></td>
                  </tr>
                  <tr>
                    <td><a class="link-lines-unordered-ecs" target="_blank" data-toggle="tooltip" title="<%= __("ws-result+Lignes_ignorées_en_raison_d'un_mauvais_ordre_chronologique.") %>"><%= __("ws-result+Anomalies_chronologiques") %> <i class="icon-question-sign"></i></a></td><td id="nb-lines-unordered-ecs" class="result-value"></td>
                  </tr>
                  <tr>
                    <td><a class="link-lines-ignored-domains" target="_blank"><%= __("ws-result+Domaines_ignorés") %></a></td>
                    <td class="result-value">
                      <a class="link-lines-ignored-domains" target="_blank">
                        <span id="nb-lines-ignored-domains"></span>
                      </a></td>
                  </tr>
                  <tr>
                    <td><a class="link-lines-unknown-domains" target="_blank"><%= __("ws-result+Domaines_inconnus") %></a></td>
                    <td class="result-value">
                      <a class="link-lines-unknown-domains" target="_blank">
                        <span id="nb-lines-unknown-domains"></span>
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td><a class="link-lines-unknown-format" target="_blank"><%= __("ws-result+Formats_inconnus") %></a></td>
                    <td class="result-value">
                      <a class="link-lines-unknown-format" target="_blank">
                        <span id="nb-lines-unknown-format"></span>
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td><a class="link-lines-unqualified-ecs" target="_blank"><%= __("ws-result+ECs_non_qualifiés") %></a></td>
                    <td class="result-value">
                      <a class="link-lines-unqualified-ecs" target="_blank">
                        <span id="nb-lines-unqualified-ecs"></span>
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td><a class="link-lines-pkb-miss-ecs" target="_blank"><%= __("ws-result+PKBs_manquantes") %></a></td>
                    <td class="result-value">
                      <a class="link-lines-pkb-miss-ecs" target="_blank">
                        <span id="nb-lines-pkb-miss-ecs"></span>
                      </a>
                    </td>
                  </tr>
                </table>
              </fieldset>
            </div>

            <div id="result-btns" class="text-center">
              <a target="_blank" id="report-btn" class="btn"><%= __("ws-result+Rapport_détaillé") %></a>
              <a target="_blank" id="traces-btn" class="btn"><%= __("ws-result+Traces_système") %></a>
              <a href="/form" id="reset-btn" class="btn ninja"><%= __("ws-result+Nouveau_traitement") %></a>
            </div>
          </div><!-- content-result -->
        </div><!-- content-result -->