        <script type="text/html" id="user-field-template">
          <div class="user-field">
            <div class="control-group">
              <label class="control-label" for="input-user-field-src">
                <a class="notALink" data-toggle="tooltip" title="<%= __("ws-templates+Nom_du_champ_contenant_les_informations_à_extraire.") %>"><%= __("ws-templates+Champ_source") %> <i class="icon-question-sign"></i></a>
              </label>
              <div class="controls">
                <input class="input-user-field-src" type="text" name="input-user-field-src"/>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="input-user-field-sep">
                <a class="notALink" data-toggle="tooltip" title="<%= __("ws-templates+Caractère_séparant_les_valeurs_du_champ_source_(utilisez_le_mot_'space'_si_le_séparateur_est_un_espace)") %>"><%= __("ws-templates+Séparateur") %> <i class="icon-question-sign"></i></a>
              </label>
              <div class="controls">
                <input class="input-user-field-sep" placeholder="Ex: space + , ;" type="text" name="input-user-field-sep"/>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="input-user-field-dest">
                <a class="notALink" data-toggle="tooltip" title="<%= __("ws-templates+Champs_dans_lesquels_seront_stockées_les_valeurs_extraites.") %> <%= __("ws-templates+Les_valeurs_en_adéquation_avec_une_expression_régulière_sont_ajoutées_au_champ_correspondant.") %>"><%= __("ws-templates+Champs_destination") %> <i class="icon-question-sign"></i></a>
              </label>
              <div class="controls">
                <div class="user-field-dest row-fluid">
                  <div class="dest">
                    <input class="span4 input-user-field-dest-name" type="text" name="input-user-field-dest-name" placeholder="<%= __("ws-templates+Nom") %>"/>
                    <input class="span8 input-user-field-dest-regexp" type="text" name="input-user-field-dest-regexp" placeholder="<%= __("ws-templates+Expression_régulière") %>"/>
                  </div>
                </div>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="input-user-field-residual">
                <a class="notALink" data-toggle="tooltip" title="<%= __("ws-templates+(Optionnel)_Champ_recevant_les_valeurs_ne_correspondant_à_aucune_expression_régulière.") %>"><%= __("ws-templates+Champ_restes") %> <i class="icon-question-sign"></i></a>
              </label>
              <div class="controls">
                <input class="input-user-field-residual" type="text" name="input-user-field-residual"/>
              </div>
            </div>
          </div>
        </script>

        <script type="text/html" id="dest-template">
          <div class="dest">
            <input class="span4 input-user-field-dest-name" type="text" name="input-user-field-dest-name" placeholder="<%= __("ws-templates+Nom") %>"/>
            <input class="span8 input-user-field-dest-regexp" type="text" name="input-user-field-dest-regexp" placeholder="<%= __("ws-templates+Expression_régulière") %>"/>
          </div>
        </script>